/* Start variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --paragraph-color: #777;
  --line-height: 1.8;
  --section-padding: 60px;
  --section-background: #f6f6f6;
}
/* End variables */
/* start global rules */
body {
  font-family: "Work Sans", sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Mobile */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screens */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Screens */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End global rules */
/* Start components */
.special-heading {
  color: #ebeced;
  text-align: center;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -4px;
  margin: 0;
}
.special-heading + p {
  margin: -35px 0 0;
  text-align: center;
  font-size: 17px;
}
@media (max-width: 768px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin: -20px 0 0;
    font-size: 10px;
  }
}
/* End components */
/* start header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links .icon {
  display: flex;
  width: 30px;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}
.header .links .icon span:nth-child(3) {
  width: 100%;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links ul {
  background-color: var(--section-background);
  padding: 0;
  list-style: none;
  margin: 0;
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  width: 200px;
  display: none;
  z-index: 1;
}
.header .links ul::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-color: transparent transparent #f6f6f6 transparent;
  border-style: solid;
  right: 5px;
  top: -20px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul a {
  padding: 15px;
  text-decoration: none;
  display: block;
  color: #333;
  transition: 0.3s;
}
.header .links ul a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: #ddd solid 1px;
}
/* End header */
/* Start landing section */
.landing {
  background-image: url(../monutian.PNG);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text h1 {
  margin: 0;
  font-size: 50px;
  color: var(--main-color);
  font-weight: bold;
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 350px;
  max-width: 100%;
}
/* End landing section */
/* Start features */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-padding);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.features .feat {
  padding: 20px;
  text-align: center;
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
  text-transform: capitalize;
}
.features .feat i {
  color: var(--main-color);
}
.features .feat p {
  line-height: var(--line-height);
  color: var(--paragraph-color);
}
/* End features */
/* Start services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .text h3 {
  margin: 0 0 20px;
}
.services .services-content .srv .text p {
  color: var(--paragraph-color);
  font-weight: 300;
  line-height: var(--line-height);
}
.services .services-content .image {
  text-align: center;
  position: relative;
}
.services .services-content .image img {
  width: 260px;
}
.services .services-content .image::before {
  content: "";
  background-color: var(--secondary-color);
  width: 100px;
  height: calc(100% + 50px);
  position: absolute;
  top: -25px;
  right: 20px;
  z-index: -1;
}
@media (max-width: 1199px) {
  .image-column {
    display: none;
  }
}
/* End services */
/* Start portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 80px;
}
.portfolio .portfolio-content .card {
  background-color: white;
}
.portfolio .portfolio-content .card img {
  max-width: 100%;
}
.portfolio .portfolio-content .info {
  padding: 20px;
}
.portfolio .portfolio-content .info h3 {
  margin: 0;
}
.portfolio .portfolio-content .info p {
  color: var(--paragraph-color);
  line-height: var(--line-height);
}
/* End portfolio */
/* Start about */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about .about-content .image {
  width: 250px;
  height: 375px;
  position: relative;
}
@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 60px;
  }
}
.about .about-content .image img {
  max-width: 100%;
}
.about .about-content .image::before {
  content: "";
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 50px);
  position: absolute;
  top: -40px;
  left: -10px;
  z-index: -1;
}
.about .about-content .image::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 240px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  top: -20px;
  right: -150px;
}
@media (max-width: 991px) {
  .about .about-content .image::after,
  .about .about-content .image::before {
    display: none;
  }
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text hr {
  width: 50%;
  border-color: var(--main-color);
  display: inline-block;
}
.about .about-content .text p:last-of-type {
  margin-top: 50px;
  color: #777;
  line-height: 2;
}
/* End about */
/* Start contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.contact .info p {
  color: var(--secondary-color);
  font-size: 35px;
  font-weight: 800;
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info a {
  display: block;
  color: var(--main-color);
  font-size: 35px;
  font-weight: 800;
  text-decoration: none;
}
.contact .info .social {
  justify-content: center;
  margin-top: 20px;
  font-size: 13px;
}
.contact .info .social i {
  margin-left: 10px;
  color: var(--secondary-color);
}
@media (max-width: 768px) {
  .contact .info p,
  .contact .info a {
    font-size: 25px;
  }
}
/* End contact */
/*  Start Footer */
.footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
.footer span {
  font-weight: bold;
  color: var(--main-color);
}
/*  End Footer */
